.cover__subtitle {
	margin: 32px auto 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	max-width: 360px;
	padding-bottom: 245px;
	z-index: 5;
	position: absolute;
	top:50%;
	right:50%;
}