.lead__subtitle {
	margin: 32px auto 0;
	max-width: 640px;
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
}
@media screen and (max-width: 768px){
	.lead__subtitle {
		padding: 0 24px;
		max-width: calc(288px + (480 + 480 * 0.7) * ((100vw - 288px) / 1240));
		font-size: calc(16px + (14 + 14 * 0.7) * ((100vw - 320px) / 768));
		line-height: calc(20px + (16 + 16 * 0.7) * ((100vw - 320px) / 768));
	}
}