.cover__subtitle {
	margin: 32px 0 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	width: 360px;

}

@media screen and (max-width: 768px) {
	.cover__subtitle {
		/* плавное уменьшение текста до нужных размеров, так будет лучше же, чем брекпоинтами */
		font-size: calc(14px + (5 + 4 * 0.7) * ((100vw - 320px) / 768));
	}
}
@media screen and (max-width: 320px) {
	.cover__subtitle {
		margin-top: 16px;
		font-size: 14px;
		line-height: 16px;
		width: 288px;
	}
}
