.place {
	display: grid;
	gap: 48px 40px;
	max-width: 984px;
}

@media screen and (max-width: 1024px) {
	.place {
		row-gap: 32px;
	}
}
@media screen and (max-width: 768px) {
	.place {
		row-gap: 28px;
	}
}
@media screen and (max-width: 768px) {
	.place {
		row-gap: 32px;
	}
}

